{% extends "_includes/default.njk" %}

{% block title %}It does work{% endblock %}

{% block content %}
  <div style="margin:auto" class="py-8 w-full max-w-md">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-s font-bold mb-2" for="email">
          Subscribe to my Newsletter
        </label>
        <input class="shadow appearance-none border rounded w-full my-2 py-2 px-3
        text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="email" type="text" placeholder="email">
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
          Subscribe
        </button>
      </div>
    </form>
    <a target="_blank" href="https://twitter.com/bdougieYO" class="text-center text-gray-500 text-xs">
      *Your personal information will never be shared with anyone and will only be
      used for this newsletter.
    </p>
  </div>
{% endblock %}
