{% extends "_includes/default.njk" %}

{% block title %}It does work{% endblock %}

{% block content %}
  <div style="margin:auto" class="email-form py-8 w-full max-w-xl">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" name="newsletter" method="POST" data-netlify="true" netlify-honeypot="bot-field">
      <div hidden aria-hidden="true">
        <label>
          Don’t fill this out if you're human: 
          <input name="bot-field" />
        </label>
      </div>
      <div class="mb-4">
        <h1 class="text-3xl font-bold">I'll teach you how too, bdougie</h1>
        <label class="block text-gray-500 text-s mb-2" for="email">
          Join the newsletter and I will send my thoughts and ideas on modern web and
          working in it.
        </label>
        <input class="shadow appearance-none border rounded w-full my-2 py-2 px-3
        text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="email" name="email" placeholder="Email"  id="email"
        placeholder="email" required>
      </div>
      <div class="flex items-center justify-between">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
          Subscribe
        </button>
      </div>
    </form>
    <a target="_blank" href="https://twitter.com/bdougieYO" class="text-center text-gray-500 text-xs">
      *Your personal information will never be shared with anyone and will only be
      used for this newsletter.
    </p>
  </div>
{% endblock %}
